<!DOCTYPE html>

<html lang="es">

<head>

<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">

<title>TechStore</title>

<!-- Bootstrap -->
<link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.7/dist/css/bootstrap.min.css" rel="stylesheet">


</head>

<body>

<!-- NAVBAR -->

<nav class="navbar navbar-expand-lg navbar-dark bg-dark">

    <div class="container">

        <a class="navbar-brand" href="/">TechStore</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#menu">

            <span class="navbar-toggler-icon"></span>

        </button>

        <div class="collapse navbar-collapse" id="menu">

            <ul class="navbar-nav ms-auto">

                <li class="nav-item">
                    <a class="nav-link" href="/">Inicio</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="productos">Productos</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="{{url_for('servicios')}}">Servicios</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="nosotros">Nosotros</a>
                </li>

                <li class="nav-item">
                    <a class="nav-link" href="contacto">Contacto</a>
                </li>

            </ul>

        </div>

    </div>

</nav>

<!-- HERO -->

<section class="container mt-5 text-center">

    <h1 class="display-4">
        Bienvenidos a TechStore
    </h1>

    <p class="lead">
        Tu tienda virtual de dispositivos tecnológicos
    </p>

    <button class="btn btn-primary">
        Ver productos
    </button>

</section>

<!-- CARDS -->
<section class="container py-5">
    <h2 class="text-center fw-bold mb-5">
        Productos Destacados
    </h2>

    <div class="row">

        {% for producto in productos %}

        <div class="col-md-4 mb-4">

            <div class="card shadow border-0 h-100">

                <span class="badge bg-danger position-absolute m-2">
                    Oferta
                </span>

                <img src="https://picsum.photos/200/150?random={{ loop.index }}"
                     class="card-img-top p-4"
                     style="height:220px; object-fit:contain;">

                <div class="card-body">

                    <small class="text-muted">
                        {{ producto.categoria }}
                    </small>

                    <h4 class="mt-2">
                        {{ producto.nombre }}
                    </h4>

                    <h3 class="text-primary fw-bold">

                        ${{ "{:,.0f}".format(producto.precio).replace(",", ".") }}

                    </h3>

                    <button class="btn btn-outline-dark w-100 mt-3">
                        Detalles
                    </button>

                    <button class="btn btn-success w-100 mt-2">
                        🛒 Añadir
                    </button>

                </div>

            </div>

        </div>

        {% endfor %}

    </div>
</section>

<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.8/dist/js/bootstrap.bundle.min.js" integrity="sha384-FKyoEForCGlyvwx9Hj09JcYn3nv7wiPVlz7YYwJrWVcXK/BmnVDxM+D2scQbITxI" crossorigin="anonymous"></script>
  </body>
</body>

</html>
